<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='../../css/bootstrap-datetimepicker.min.css' />
    <link rel='stylesheet' href='../../css/font-face.css' />
    <link rel='stylesheet' href='../../css/theme.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>